<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142375646429-nujks593hrcc21m5npmrekk2gbn3i2i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142375646429-nujks593hrcc21m5npmrekk2gbn3i2i4</string>
	<key>API_KEY</key>
	<string>AIzaSyDpH4Zq1z6SK38wZjfjk-dzCoOS5iu9wX4</string>
	<key>GCM_SENDER_ID</key>
	<string>142375646429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripplanner</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-41d65</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-41d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142375646429:ios:b7a91d6c8fe0eefd8a5734</string>
</dict>
</plist>